@media (min-width: 800px) {
  .images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40%;
  }
}

@media (max-width: 800px) {
  .images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
  }
}

.img {
  width: 200px;
}

.images_component {
  height: 100%;
}

.next {
  float: right;
  top: 50%;
}

.previous {
  float: left;
  top: 50%;
}
